{% extends "cms/base.html" %}

{% block title %}
    Category List
{% endblock title %}

{% block page_title %}
    Category List
{% endblock page_title %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="search-element">
                <div class="card">
                    <div class="card-body">

                        <div class="float-left" style="width: 25%">

                            <p class="lead pt-0 pb-0"><span>SORTED BY</span>: 
                                <a href="{% url 'cms:category_list_view' %}?filter={{ filter }}&orderby=id">ID | </a>
                                <a href="{% url 'cms:category_list_view' %}?filter={{ filter }}&orderby=name">NAME | </a>
                                <a href="{% url 'cms:category_list_view' %}?filter={{ filter }}&orderby=description">DESCRIPTION</a>
                            </p>
                        </div>
                        <form method="GET">
                            <div class="input-group float-right" style="width: 25%">
                                <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" name="filter" value="{{ filter }}">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    {% for category in category_list %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <article class="article article-style-b">
                <div class="article-header">
                <div class="article-image" data-background="/media/{{ category.thumbnail }}">
                </div>
                <div class="article-badge">
                    <button type="button" class="btn btn-danger">
                        {{ category.name }} <span class="badge badge-transparent"><i class="fas fa-poll-h"></i></span>
                    </button>
                </div>
                </div>
                <div class="article-details">
                <div class="article-title">
                    <h2><a href="#">{{ category.name }}</a></h2>
                </div>
                <p>{{ category.description }}</p>
                <div class="article-cta">
                    <label class="custom-switch mt-2 float-left">
                        <input type="checkbox" name="custom-switch-checkbox" onclick="return false;" class="custom-switch-input" {% if category.is_active == 1 %}checked{% endif %}>
                        <span class="custom-switch-indicator"></span>
                        <span class="custom-switch-description">Active</span>
                    </label>
                    <a href="{% url 'cms:category_update_view' category.id %}"><i class="fas fa-edit"></i> EDIT </a>
                </div>
                </div>
            </article>
        </div>
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <nav aria-label="Category Pagination">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="{% url 'cms:category_list_view' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.previous_page_number }}">Previous</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                    <li class="page-item {% if i == page_obj.number %}active{% endif %}"><a class="page-link" href="{% url 'cms:category_list_view' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ i }}">{{ i }}</a></li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="{% url 'cms:category_list_view' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.next_page_number }}">Next</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                            {% endif %}

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    

{% endblock page_content %}