{% extends "cms/base.html" %}

{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'cms/custom.css' %}">
{% endblock custom_css %}

{% block custom_js %}
    <script src="{% static 'cms/category.js' %}" defer></script>
{% endblock custom_js %}

{% block title %}
    SubCategory Update
{% endblock title %}


{% block page_title %}
    SubCategory Update
{% endblock page_title %}

{% block page_content %}

<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>SubCategory</h4>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form  %}
                    <div class="form-group">
                        {% if field.label == "Category id" %}
                            <label>Category</label>
                        {% else %}
                            <label>{{ field.label }}</label>
                        {% endif %}

                        {% if field.field.widget.input_type == "select" %}
                            <select name="{{ field.name }}" id="{{ field.name }}" class="form-control">
                                {% for key, value in field.field.choices %}
                                    <option value="{{ key }}" {% if key == field.value %}selected{% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.name }}" class="form-control"  value="{{ field.value }}">
                            {% if field.field.widget.input_type == "file" %}
                                <div class="form-group mt-3">
                                    <label>Current {{ field.label }}<br>
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="/media/{{ field.value }}">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        


                        {% if field.errors %}
                        <div class="alert alert-danger" style="margin: 10px">
                            {{ field.errors }}
                        </div>
                        {% endif %}

                    </div>
                    {% endfor %}
                    <button href="" type="submit" class="btn btn-primary btn-block">SAVE SUBCATEGORY</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}

